**/logs
*.log
*.npy
*.csv
*.html
*.run.*
**/.ipynb_checkpoints
**/__pycache__

# Latex support files
**/*.acr
**/*.acn
**/*.alg
**/*.aux
**/*.aux.bak
**/*.bbl
**/*.bcf
**/*.blg
**/*.dvi
**/*.fdb_latexmk
**/*.fls
**/*.glg
**/*.gls
**/*.idx
**/*.idx.bak
**/*.ilg
**/*.ind
**/*.ist
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.lox
**/*.nav
**/*.out
**/*.ps
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.xdy
*-blx.bib
*.mp4
/**/_minted-{jobname}
